{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="{% static 'app/favicon.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
</head>
<body>
    {% include "header.html" %}
    {% for i in shops %}
        <div class="shop">
            <p class="name">{{ i.title }}</p>
            <p class="name">{{ i.description }}</p>
            <img src="{{ i.imageUrl }}" alt="">
        </div>
    {% endfor %}
    {% include "footer.html" %}
</body>
</html>